<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Soint.My.MySettings.dbsointConnectionString" connectionString="server=localhost;user id=root;password=soporte;persistsecurityinfo=True;database=dbsoint;Convert Zero Datetime=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>